<!-- footer wrapper -->
<div id="footer-wrapper" class="footer-wrapper">
    <!-- footer -->
    <section id="footer" class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <h2>What I Stand For</h2>
                    </header>
                    <ul class="dates">
                        <p>
                            Throughout my adult life I have placed immense value on relationships, specifically the ones I have with my family and friends.
                            I work daily to foster those bonds and maintain a strong connection with my loved ones. In addition, I also truly value education,
                            life-long learning, mentorship and community service. I believe in empathy for others and taking personal responsibility for my actions.
                            This site will serve as a platform for my journey and I hope to accomplish many goals in this medium, including but not limited to the
                            obtaining a higher level of self reflection and understanding and a place for me to continue practicing my written communication skills
                            and ability to convey complex conceptual, ideological and theoretical ideas.
                        </p>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>What my site stands for?</h2>
                        <a href="#" class="image image-full"><img src="/images/pic10.jpg" alt=""></a>

                        <p>
                            This is a site that tries to represent Brandon Bailey as best it can.
                        </p>
                    </header>
                </section>
            </div>
        </div>

        <div id="contact-me" class="row container contact-me">
            <div class="4u">
                <section>
                    <header>
                        <h2>Contact me</h2>
                    </header>
                    <ul class="social">
                        <li><a class="fa fa-facebook solo" href="https://www.facebook.com/Brandon1.Bailey" target="_blank"><span>Facebook</span></a></li>
                        <li><a class="fa fa-twitter solo" href="https://www.twitter.com/BcantFindaName" target="_blank"><span>Twitter</span></a></li>
                        <li><a class="fa fa-linkedin solo" href="http://www.linkedin.com/pub/brandon-bailey/5b/288/373" target="_blank"><span>LinkedIn</span></a></li>
                        <li><a class="fa fa-github solo" href="https://www.github.com/dammitBrandon" target="_blank"><span>GitHub</span></a></li>
                        <li><a class="fa fa-instagram solo" href="https://www.instagram.com/dammitBrandon" target="_blank"><span>Instagram</span></a></li>
                    </ul>

                    <ul class="contact">
                        <li>
                            <h3>Email</h3>

                            <p>
                                <a href="#">bailey1.brandon@gmail.com</a>
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Slalom Field Trips</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="https://drive.google.com/open?id=0B2n7OinNQoRxNFBYam0yN2UxbUk" target="_blank">2016 Visit</a></li>
                        <li><a href="https://drive.google.com/open?id=0B2n7OinNQoRxcXJRa3F2YzBOLVE" target="_blank">2015 Visit</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>My Projects</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="https://github.com/dammitBrandon/hearUs2.0" target="_blank">The Hear Us Project 2.0</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </section>


<div class="row">
    <div class="12u">
        <!-- loved ones who passed -->
        <div id="copyright">
            <section>
                <header>
                    <h2>
                        My loved ones who moved on
                    </h2>
                </header>
                <ul class="links">
                    <li><a href="#">Ranaldo Butler</a></li>
                    <li><a href="#">Carlin Biles</a></li>
                    <li><a href="#">Gerrod Wislon</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>
</div> <!-- footer wrapper -->