<div class="row">
  <div class="12u">
    <!-- banner -->
    <section id="banner">
      <a href="#">
        <span class="image image-full"><img src="/images/gerrod01.png" alt=""></span>
        <header>
          <span class="byline">Gerrod Wilson</span>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor, erat a faucibus lobortis, metus
            leo imperdiet urna, vitae pharetra felis tortor non nunc. Aliquam porta leo ut maximus pulvinar.
          </p>
        </header>
      </a>
    </section>
    <!-- banner -->
  </div>
</div>