<div class="row">
  <div class="12u">
    <!-- header -->
    <section id="header">
      <h1><a href="/index.html">Team BBailey</a></h1>

      <!-- nav -->
      <nav id="nav" class="navbar-main" role="navigation">
        <ul class="nav">
          {% if page.url == '/index.html' %}
          <li class="active"><a href="#header-wrapper">Home</a></li>
          <li><a href="#main-wrapper">My Story</a></li>
          <li><a href="#blog-wrapper">Blog Posts</a></li>
          {% else %}
          <li class="active"><a href="#header-wrapper">Home</a></li>
          {% endif %}
          <li><a href="#footer-wrapper">What I stand for</a></li>
          <li><a href="#contact-me">Contact</a></li>
        </ul>
      </nav>
      <!-- nav -->
    </section>
  </div>
</div>