<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet"/>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.droptron.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>

    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/style-desktop.css"/>
    </noscript>

    <!--[if lte IE 8]/>
    <script src="js/html5shiv.js></script><link rel="stylesheet" href="css/ie8.css" />
    <![endif]>-->

</head>

<body class="homepage">

<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- header -->
                <section id="header">
                    <h1><a href="#">Team BBailey</a></h1>

                    <!-- nav -->
                    <nav id="nav">
                        <ul>
                            <li class="current_page_item"><a href="index.html">Home</a></li>
                            <li><a href="#">Blog Posts</a></li>
                            <li><a href="#main-wrapper">My Story</a></li>
                            <li><a href="#footer-wrapper">What I stand for</a></li>
                        </ul>
                    </nav>
                    <!-- nav -->
                </section>
            </div>
        </div>

        <div class="row">
            <div class="12u">
                <!-- banner -->
                <section id="banner">
                    <a href="#">
                        <span class="image image-full"><img src="images/me2.jpg" alt=""></span>
                        <header>
                            <span class="byline">A little insight into my world</span>
                        </header>
                    </a>
                </section>
                <!-- banner -->
            </div>
        </div>

    </div>
</div>
<!-- header wrapper -->

{{ content }}

<!-- footer wrapper -->
<div id="footer-wrapper">
    <!-- footer -->
    <section id="footer" class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <h2>Footer Section</h2>
                    </header>
                    <ul class="dates">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor turpis, vestibulum non
                            dui vel, faucibus tempor sem. Nunc faucibus lacus quis porttitor interdum. Duis quis nunc
                            diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                            himenaeos. Mauris non erat aliquet, tristique ante quis, ullamcorper magna. Phasellus
                            tincidunt, ligula in consequat sollicitudin, turpis velit convallis nisi, nec faucibus mi
                            libero in neque. Curabitur accumsan lectus ac rutrum faucibus. Nam a diam sollicitudin nisl
                            congue ultrices. Donec non odio dui.

                            Donec sollicitudin elit quis lorem sagittis suscipit. In faucibus sollicitudin nisl quis
                            tristique. Sed eget metus ornare, luctus turpis nec, ornare massa. Suspendisse faucibus urna
                            sed nulla commodo, ac tempus arcu egestas. Fusce hendrerit, felis id mattis porta, massa
                            arcu luctus sem, ut imperdiet enim nibh id diam. Nam elementum diam non purus eleifend, et
                            vulputate sapien laoreet. Integer et ornare metus. Suspendisse non metus id nunc rhoncus
                            molestie eget et neque. Aenean adipiscing consectetur sem, quis tincidunt mauris adipiscing
                            nec. Nam imperdiet massa sapien, nec lobortis ante mollis vitae. Donec tempus, risus nec
                            rutrum pretium, nisl mi dignissim erat, eu ultrices neque odio id mi. Etiam a nulla non
                            turpis sagittis mollis. Nunc condimentum ac nibh non dapibus. Quisque urna erat, egestas
                            ultricies nunc quis, iaculis dapibus lectus. Nulla adipiscing massa eu enim mollis, interdum
                            iaculis turpis tristique. Quisque feugiat, lacus ut pharetra tempor, quam neque viverra
                            nisl, a congue dolor erat ut ipsum.
                        </p>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>What my site stands for?</h2>
                        <a href="#" class="image image-full"><img src="images/pic_na.jpg" alt=""></a>

                        <p>
                            This is a site that tries to represent Brandon Bailey as best it can.
                        </p>
                    </header>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="4u">
                <section>
                    <header>
                        <h2>Contact me</h2>
                    </header>
                    <ul class="social">
                        <li><a class="fa fa-facebook solo" href="https://www.facebook.com/Brandon1.Bailey"
                               target="_blank"><span>Facebook</span></a></li>
                        <li><a class="fa fa-twitter solo" href="https://twitter.com/BcantFindaName"
                               target="_blank"><span>Twitter</span></a></li>
                        <li><a class="fa fa-linkedin solo" href="http://www.linkedin.com/pub/brandon-bailey/5b/288/373"
                               target="_blank"><span>LinkedIn</span></a></li>
                        <li><a class="fa fa-google-plus solo" href="http://www.plus.google.com/117610186277394467990"
                               target="_blank"><span>Google+</span></a></li>
                    </ul>

                    <ul class="contact">
                        <li>
                            <h3>Email</h3>

                            <p>
                                <a href="#">bailey1.brandon@gmail.com</a>
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Placeholder 3</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="#">Placeholder1</a></li>
                        <li><a href="#">Placeholder2</a></li>
                        <li><a href="#">Placeholder3</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>My Projects</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="#">Project 1</a></li>
                        <li><a href="#">Project 2</a></li>
                        <li><a href="#">Project 3</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </section>

</div>
</div>

<div class="row">
    <div class="12u">
        <!-- loved ones who passed -->
        <div id="copyright">
            <section>
                <header>
                    <h2>
                        My loved ones who moved on
                    </h2>
                </header>
                <ul class="links">
                    <li>RIP Ranaldo Butler</li>
                    <li>RIP Carlin Biles</li>
                    <li>RIP Gerrod Wislon</li>
                </ul>
            </section>
        </div>
    </div>
</div>
</div> <!-- footer wrapper -->

</body>

</html>
